.node_diagram_styles {
    .connect_dot {
        circle {
            fill: white;
            stroke: black;
            user-select: none;
            font-size: inherit;
            transition: transform 100ms;
        }

        text {
            user-select: none;
            transition: transform 100ms;

            &:first-of-type {
                font-weight: bold;
            }
        }

        &:hover {
            circle {
                transform: scale(1.2);
            }
        }

        &:active {
            circle {
                transform: scale(1.1);
            }
        }
    }
}