.node_diagram_styles {
    --node-font-size: 12;
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0;
    }

    font-size: calc(var(--node-font-size) * 1px);

    .diagram_title {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 2em;
    }

    .node_drag_area {
        cursor: move;
        fill: transparent;
    }

    .node_title {
        font-size: 1em;
        font-weight: bold;
        user-select: none;
        text-anchor: middle;
    }

    .connect_dot {
        circle {
            fill: white;
            stroke: black;
            user-select: none;
            font-size: inherit;
            transition: transform 100ms;
        }
        text {
            user-select: none;
            transition: transform 100ms;
            &:first-of-type {
                font-weight: bold;
            }
        }
        &:hover {
            circle {
                transform: scale(1.2);
            }
        }

        &:active {
            circle {
                transform: scale(1.1);
            }
        }
    }
}
